.row {
  display: flex;
}

.board {
  min-width: 480px;
  min-height: 480px;
  border: 1px solid black;
  max-width: 62%;
}

.results {
  border: 1px solid black;
  height: 100px;
  width: 130px;
  margin-right: 2px;
  padding: 1px;
}

.moves {
  border: 1px solid black;
  height: 100px;
  width: 130px;
  padding: 1px;
  margin-top: 2px;
}

.datawrapper{
  float: right;
  flex: 1 1 0;
  margin-left: 2px;
}

.wrapper{
  flex: 1 1 0;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 2px;
}
