/* main for pages*/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  top: 0px;
  width: 100%;
  height: 7vh;
  background-color: #276696;
  padding: 0.5vh;
}
main{
  max-width: 100%;
  padding-top: 10vh;
  font-family: "Helvetica-CondensedBold", sans-serif;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
}
/* Link styling */
a{
  color: black;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/* Placeholder styling */
input::placeholder{
  text-align: center;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* Table styling */
table{
  border: 1px solid #373737;
  width: 100%;
  margin: 5px;
  padding: 5px;
  text-align: left;
  border-collapse: collapse;
  align-items: center;
}
table, td, th {
  padding: 3px 2px;
  border: 1px solid #373737;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: #D0E4F5;
}
table th {
  background: #276696;
  color: white;
  border-bottom: 1px solid #373737;
}


/* List styling*/
li{
  list-style-type: none;
}

/* laptop screens*/ 
@media screen and (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1) { 
  header {
    min-width: 600px;
    max-width: 1200px;
    min-height: 70px;
    max-height: 87px;
  }
}

/* phone screens*/
@media screen and (min-width:320px) and (max-width:480px){
   .NewEntry-section{
     flex-direction: row;
     flex-wrap: wrap;
     flex-basis: 0;
     flex-grow: 1;
   }
   .NewEntry-input{
    border: 1px solid #276696;
    border-radius: 5px;
   }
 }

/* Views */
.Home-iconcontainer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: flex-start;
  text-align: center;
}

.NewEntry-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.NewEntry-input{
  font-size: 18px;
}