main{
  min-height: 80%;
  width: 100%;
  padding-top: 10vh;
  font-family: "Helvetica-CondensedBold", sans-serif;
  overflow-x: hidden; 
  overflow-y: auto;
}

.Home {
  background-color: white;
}
  
.Home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-iconcontainer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: flex-start;
  text-align: center;
}

.NewEntry-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  /* @media screen greiene setter flex-direction: column*/
}

.NewEntry-input{
  font-size: 18px;
}
@media screen and (max-width:480px){
 /* Add restrictions to width etc*/
  .NewEntry-section{
    flex-direction: column;
  }
}

a{
  color: black;
}

a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}