main{
  height: 80vh;
  padding-top: 12%;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1%;
  width: 100%;
  height: 60px;
  position: relative;
}

.Home {
  text-align: center;
  background-color: white;
}
  
.Home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-button {
  width: 50%;
  border-radius: 5px;
  background-color: #bad5f4;
  margin: 1%;
  padding: 1.5%;
  border: 1px solid black;
  font-size: calc(10px +2vmin);
}

.New-button{
  width: 70%;
  height: 70%;
  border-radius: 5px;
  background-color: #9ab67b;
  margin: 1%;
  border: 1px solid black;
  font-size: 24px;
}

a{
  color: black;
}

a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}